/* 
Original layout by /u/bleeps__ https://www.reddit.com/r/FirefoxCSS/comments/7ignsk/oneline_flat_interface_dark_light/
Use with compact density
*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root:-moz-lwtheme-brighttext {                                      /* minor color changes to the default dark theme */
	--color-overflow: #222;                                            /* >> button color */
	--chrome-background-color: #111 !important;                        /* tab strip background & inactive tabs */
	--chrome-secondary-background-color: #222 !important;              /* nav bar & active tab */
	--chrome-color: #ccc !important;                                   /* url & tab text, close tab & new tab buttons */
	background-color: #444 !important;                                 /* top border of out of focus window */
}

:root:-moz-lwtheme-darktext {                                        /* minor changes to the default light theme */
	--color-overflow: #ddd;                                            /* >> button color */
	--chrome-background-color: #ccc !important;                        /* tab strip background & inactive tabs */
}

:root {
	--toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
	--chrome-nav-bar-controls-border-color: transparent !important;    /* border around url bar */
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
	margin-bottom: 0px !important;                /* not needed anymore? */
	margin-top: 0px !important;                   /*  */
	margin-left: 35vw !important;
	margin-right: -34px !important;
	max-height: 32px !important;
}

#nav-bar {
	margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
	margin-top: -32px !important;
	margin-right: 65vw !important; 
	border-top: none !important;
}   

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
	-moz-appearance: initial !important;
}

/* Tabs */
.tabbrowser-tab {
	height: 32px !important; 
}

/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
	display: none !important;
}

/* Remove border between tabs
Delete this rule if you want separators between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
	border-left: none !important;
} 

/* Border between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
	color: grey !important; 
	opacity: .2 !important; 
}

/* tab line - adjust color & size, default #0a84ff 2px */
.tab-line {
	/*background-color: #0a84ff !important;*/
	height: 0px !important;
}


/* Hide various elements */
/* Menu */
#appMenu-fxa-container,                    /* Sign in to Sync */
#appMenu-fxa-container+toolbarseparator,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,

/* Private browsing icon */
#TabsToolbar .private-browsing-indicator,

/* URL Bar */
#pageActionButton,
#pocket-button-box,
#ar-button,
.autocomplete-history-dropmarker,
#dropmarker-icon,
#identity-icon-labels
{
    display: none !important;
}
#page-action-buttons { 
  /*** ICONS AND BUTTONS ***/
  display: none !important;
}

#urlbar {
/* Style */
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
/* Center */
#urlbar .urlbar-input-box {
	margin-bottom: 1px;
	/*margin-left: -53px !important;*/
	box-shadow: none !important;
	padding-right: 24px;
}
